.barnav-container {
  margin: 0px;
  width: 100%;
  padding: 15px 200px;
  margin: 40px auto 220px; }

.menu {
  height: 30px;
  background-color: #ffffff; }

.menu ul {
  list-style: none;
  margin: 5px;
  padding: 0px;
  background-color: blues; }

.menu ul li {
  display: inline-block;
  width: 140px;
  margin: auto 25px; }

.menu ul li a {
  color: #000000;
  display: block;
  width: 150px;
  margin: 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold; }

.navegacion li :hover {
  color: #65a428;
  text-decoration: underline;
  transition: all 0.5s; }
